# external files
.DS_Store
*.pyc
*.swp
*~
*.vcxproj*
/.cproject
/.project
*.sublime-project
*.sublime-workspace

# cmake files
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt

# build files
*.a
*.so
*.dll
*.dylib
*_Test
*_Test_Jeffs
SimpleAbcViewer
abcview
build
/lib/Alembic/AbcCoreGit/milliways/config.h
*/doxygen
doxygen
/doc/html/*
